.images
{
  height: 100px;
  width: 100px;
  cursor: pointer;
}
.headimage{
  height: 300px;
  width: 300px;
}
p{
  display: -webkit-box;
    max-width: 400px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.images-model{
  height: 150px;
  width: 150px;
  cursor: pointer;
}
.img_wrp {
  display: inline-block;
  position: relative;
}
#close {
  position: absolute;
  top: 0;
  right: 0;
}
