<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink=""><b>Home</b></a>
  
      
      <div class="d-flex justify-content-end">
        <div class="navbar-nav pe-2">
          <a class="nav-link active" aria-current="page" routerLink="/home/myprofile"
            >MyProfile</a
          >
        </div>
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" routerLink="/home/users"
            >userList</a
          >
        </div>
        <button
          (click)="alertfun()"
          type="button"
          title="logout"
          class="btn btn-info ms-3"
          id="navbarNavAltMarkup"
        >
          <i class="fa fa-sign-out" title="logout" style="font-size: 24px"></i>
        </button>
      </div>
    </div>
  </nav>
  
