<app-main-nav></app-main-nav>
<div class="mx-5 mt-2">
  <div class="d-flex justify-content-between mb-4">
    <div>
      <b class="mx-2">SortBy</b>
      <select
        class="rounded"
        name="demo"
        #sortBy
        (change)="sortByData(sortBy.value)"
      >
        <option selected="selected" value="name">Name</option>
        <option value="price">Price</option>
      </select>
    </div>
    <div>
      <b class="mx-2">Limit</b>
      <select
        class="rounded"
        name="demo"
        #limit
        (change)="handleLimit(limit.value)"
      >
        <option value="4">4</option>
        <option selected="selected" value="8">8</option>
        <option value="12">12</option>
      </select>
    </div>
    <form class="d-flex" role="search ">
      <input
        #serchData
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button
        (click)="serchValue(serchData.value)"
        class="btn btn-outline-success"
        type="submit"
      >
        Search
      </button>
    </form>
  </div>
  <div class="d-flex col-md-12 flex-wrap mx-5">
    <div
      *ngFor="let product of products?.results; let i = index"
      class="card mx-3 mt-3"
    >
      <div class="carousel slide" id="img{{ i }}" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div
            id="imgparent"
            *ngFor="let img of product?.images; let j = index"
            [class.active]="j == 0"
            class="carousel-item"
          >
            <img src="{{ img.url }}" class="d-block w-100 rounded-top" alt="" />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          attr.data-bs-target="#img{{ i }}"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>

        <button
          class="carousel-control-next"
          type="button"
          attr.data-bs-target="#img{{ i }}"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="mx-2">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
      </div>
      <div class="card-body">
        <h5>{{ product.name }}</h5>
        <div class="description"  [innerHTML]="product?.description | dompurify" ></div>
        <div class="mt-2">
          <b><i class="bi bi-currency-rupee"></i>&nbsp;{{ product?.price }}</b>
        </div>
        <div class="position-absolute bottom-0 mb-2">
          <button (click)="add(product)" type="button" class="btn btn-danger btn-sm m-1"><i class="bi bi-plus"></i>Add Cart</button>
          <button (click)="buyNow(product)" type="button" class="btn btn-primary btn-sm m-1"><i class="bi bi-cart4">&nbsp;</i>Buy Now</button>
        </div>
      </div>
    </div>
  </div>
  <nav aria-label="Page navigation example" class="mt-3">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <button class="page-link" [disabled]="page === 1"
        (click)="previousPage()">Previous</button>
      </li>
      <li class="page-item"><a class="page-link">{{ page }}</a></li>
      <li class="page-item">
        <button class="page-link"  [disabled]="page === totalpages"
        (click)="nextPage()" >Next</button>
      </li>
    </ul>
  </nav>
</div>


