<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/seller/products/"
      ><b><i class="bi bi-house-fill"></i>&nbsp;HOME</b></a
    >

    <div class="d-flex justify-content-end">
      <div class="navbar-nav pe-2">
        <a
          class="nav-link active"
          aria-current="page"
          routerLink="/seller/order-management"
          ><b><i class="bi bi-truck"></i>&nbsp;Order List</b></a
        >
      </div>
      <div class="navbar-nav pe-2">
        <a
          class="nav-link active"
          aria-current="page"
          routerLink="/seller/home/myprofile"
          ><b><i class="bi bi-person-fill"></i>&nbsp;PROFILE</b></a
        >
      </div>
      <div class="navbar-nav">
        <a
          class="nav-link active"
          aria-current="page"
          routerLink="/seller/home/users"
          ><b><i class="bi bi-people-fill"></i>&nbsp;USERS</b></a
        >
      </div>
      <button
        (click)="alertfun()"
        type="button"
        title="logout"
        class="btn btn-info ms-3"
        id="navbarNavAltMarkup"
      >
        <i class="fa fa-sign-out" title="logout" style="font-size: 24px"></i>
      </button>
    </div>
  </div>
</nav>
