<div class="vh-100">
  <app-main-nav></app-main-nav>
  <div class="container mt-2">
    <div class="shadow mb-5 bg-body-tertiary p-4 rounded">
      <div class="row">
        <!-- profile -->
        <div class="text-center mt-0 col-md-6">
          <div class="d-flex justify-content-end mb-3">
            <button
              class="btn btn-dark"
              type="button"
              data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasExample"
              aria-controls="offcanvasExample"
            >
              <i class="bi bi-list"></i>
            </button>
          </div>
          <div class="p-3">
            <img
              src="{{ userDetails?.picture }}"
              alt="user image"
              class="img-thumbnail"
            />
          </div>
          <div class="">
            <h2>Name: {{ userDetails?.name }}</h2>
            <p>Email: {{ userDetails?.email }}</p>
          </div>
        </div>

        <!-- address -->

        <div class="col-md-6">
          <div
            *ngFor="let address of userAddress; let i = index"
            class="border border-dark rounded mb-2"
          >
            <div class="d-flex justify-content-between p-1 mx-2 border-bottom">
              <h6>Address :{{ i + 1 }}</h6>
              <div>
                <div>
                  <button
                    (click)="editAddress(address)"
                    data-bs-toggle="modal"
                    data-bs-target="#addressModal"
                    class="btn btn-sm btn-primary rounded-circle"
                  >
                    <i class="bi bi-pencil-square"></i>
                  </button>
                  <button
                    (click)="deleteAddress(address)"
                    class="ms-1 btn-sm btn btn-danger rounded-circle"
                  >
                    <i class="bi bi-x-circle"></i>
                  </button>
                </div>
              </div>
            </div>

            <div class="fw-bold px-3">
              <p>{{ address?.street + ", " + address?.addressLine2 }}</p>
              <p>{{ address?.city + ", " + address?.state }}</p>
              <p>pincode: {{ address?.pin }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
          <i class="bi bi-person-fill-add"></i>&nbsp;EDIT USER DETAILS
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="collection()" [formGroup]="register">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label mx-2"
              >Name<span style="color: red">*</span></label
            >
            <div>
              <i class="fa fa-user position-absolute mt-2 ms-3"></i>
              <input
                type="text"
                class="form-control border-0 border-bottom px-5"
                formControlName="name"
                placeholder="Enter Full Name"
              />
            </div>
            <span
              style="color: red"
              *ngIf="name && name.invalid && name.touched"
              >This fild is invalid</span
            >
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label mx-2"
              >Email address<span style="color: red">*</span></label
            >
            <div>
              <i class="fa fa-envelope position-absolute mt-2 ms-3"></i>
              <input
                type="email"
                class="form-control border-0 border-bottom px-5"
                formControlName="email"
                placeholder="Enter Email address"
              />
            </div>
            <span
              style="color: red"
              *ngIf="email && email.invalid && email.touched"
              >This fild is invalid</span
            >
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              [disabled]="register.invalid"
              type="submit"
              class="btn btn-success"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- forget password module -->

<div
  class="modal fade"
  id="changPass"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
          <i class="bi bi-pencil-square"></i>&nbsp;CHANGE PASSWORD
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="forgetPassword()" [formGroup]="password">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label mx-2">
              Old_password<span style="color: red">*</span></label
            >
            <div class="mb-3">
              <i class="bi bi-shield-lock-fill position-absolute mt-2 ms-3"></i>
              <input
                type="password"
                class="form-control border-0 border-bottom px-5"
                formControlName="old_password"
                placeholder="Enter old_password"
              />
            </div>
            <span
              style="color: red"
              *ngIf="
                old_password && old_password.invalid && old_password.touched
              "
              >This fild is invalid</span
            >

            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label mx-2"
                >New_password<span style="color: red">*</span></label
              >
              <div>
                <i
                  class="bi bi-shield-lock-fill position-absolute mt-2 ms-3"
                ></i>
                <input
                  type="password"
                  class="form-control border-0 border-bottom px-5"
                  formControlName="new_password"
                  placeholder="Enter new_password"
                />
              </div>
              <span
                style="color: red"
                *ngIf="
                  new_password && new_password.invalid && new_password.touched
                "
                >This fild is invalid</span
              >
            </div>

            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button
                [disabled]="password.invalid"
                type="submit"
                class="btn btn-success"
                data-bs-dismiss="modal"
                aria-label="Close"
              >
                Save
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- images modal  -->

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          <i class="bi bi-image"></i>&nbsp; USER IMAGE
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div
          class="image-container d-flex justify-content-center mb-4"
          style="height: 170px"
        >
          <img [src]="croppedImage" />
        </div>
        <image-cropper
          class="d-flex justify-content-center"
          id="cropImg"
          [imageChangedEvent]="imageChangedEvent"
          [maintainAspectRatio]="true"
          format="png"
          (imageCropped)="imageCropped($event)"
        ></image-cropper>
        <input type="file" (change)="fileChangeEvent($event)" />
        <button
          (click)="removeProfile()"
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >
          Remove Profile
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          (click)="saveImg()"
          type="button"
          data-bs-dismiss="modal"
          class="btn btn-primary"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>

<!-- address modal  -->

<div
  class="modal fade"
  id="addressModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          <i class="bi bi-house-add-fill"></i>&nbsp; ADDRESS
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="close()"
        ></button>
      </div>
      <div class="modal-body">
        <div class="modal-body">
          <form [formGroup]="getAddress" (ngSubmit)="address()">
            <div class="mb-3">
              <label class="text-strong">street :</label>
              <input
                type="text"
                formControlName="street"
                class="form-control form-control-sm"
                placeholder="Enter street"
              />
            </div>
            <div class="mb-3">
              <label class="text-strong">address line 2 :</label>

              <input
                type="text"
                formControlName="addressLine2"
                class="form-control form-control-sm"
                placeholder="Enter addressLine2"
              />
            </div>
            <div class="mb-3">
              <label class="text-strong">Pin code :</label>

              <input
                type="number"
                formControlName="pin"
                class="form-control form-control-sm"
                placeholder="Enter pinCode"
              />
            </div>
            <div class="mb-3">
              <label class="text-strong">city :</label>

              <input
                type="text"
                formControlName="city"
                class="form-control form-control-sm"
                placeholder="Enter city"
              />
            </div>
            <div class="mb-3">
              <label class="text-strong">State :</label>

              <input
                formControlName="state"
                class="form-control form-control-sm"
                placeholder="Enter country"
              />
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button
                [disabled]="getAddress.invalid"
                type="submit"
                class="btn btn-primary"
                data-bs-dismiss="modal"
              >
                Save
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- cnvas  -->

<div
  class="offcanvas offcanvas-start w-25"
  tabindex="-1"
  id="offcanvasExample"
  aria-labelledby="offcanvasExampleLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Settings</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <div class="options">
      <button
        (click)="editAccount()"
        class="btn btn-outline-primary w-100 mb-3"
        data-bs-toggle="modal"
        data-bs-target="#staticBackdrop"
      >
        Edit User Details
      </button>
      <button
        class="btn btn-outline-primary w-100 mb-3"
        data-bs-toggle="modal"
        data-bs-target="#changPass"
      >
        Change Password
      </button>
      <button
        class="btn btn-outline-primary w-100 mb-3"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Update Profile
      </button>
      <button
        (click)="deleteAccount()"
        class="btn btn-outline-primary w-100 mb-3"
      >
        Delete Account
      </button>
      <button
        class="btn btn-outline-primary w-100 mb-3"
        data-bs-toggle="modal"
        data-bs-target="#addressModal"
      >
        Add New Address
      </button>
    </div>
  </div>
</div>
