<div class="container my-4 vh100">
  <div class="card bg-secondary text-white rounded-3">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center mb-2">
        <h5 class="mb-0">Card details</h5>
      </div>

      <p class="small mb-2">Card type</p>
      <a href="#!" type="submit" class="text-white"
        ><i class="fa fa-cc-mastercard fa-2x me-2"></i
      ></a>
      <a href="#!" type="submit" class="text-white"
        ><i class="fa fa-cc-visa fa-2x me-2"></i
      ></a>
      <a href="#!" type="submit" class="text-white"
        ><i class="fa fa-cc-amex fa-2x me-2"></i
      ></a>
      <a href="#!" type="submit" class="text-white"
        ><i class="fa fa-cc-paypal fa-2x"></i
      ></a>

      <form [formGroup]="getPaymentData" class="mt-2" >
        <div class="form-outline form-white mb-2">
          <input
            type="text"
            id="typeName"
            formControlName="nameOnCard"
            class="form-control form-control"
            siez="17"
            placeholder="Cardholder's Name"
          />
          <label class="form-label" for="typeName">Cardholder's Name</label>
        </div>

        <div class="form-outline form-white mb-2">
          <input
            type="text"
            id="typeText"
            class="form-control form-control"
            siez="17"
            formControlName="cardNumber"
            placeholder="1234 5678 9012 3457"
            minlength="19"
            maxlength="19"
          />
          <label class="form-label" for="typeText">Card Number</label>
        </div>

        <div class="row mb-2">
          <div class="col-md-6">
            <div class="form-outline form-white">
              <input
                type="text"
                id="typeExp"
                class="form-control form-control"
                placeholder="MM/YYYY"
                size="7"
                formControlName="expiry"
                id="exp"
                minlength="7"
                maxlength="7"
              />
              <label class="form-label" for="typeExp">Expiration</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-outline form-white">
              <input
                type="password"
                id="typeText"
                class="form-control form-control"
                placeholder="&#9679;&#9679;&#9679;"
                size="1"
                formControlName="cvv"
                minlength="3"
                maxlength="3"
              />
              <label class="form-label" for="typeText">Cvv</label>
            </div>
          </div>
        </div>
      </form>

      <hr class="my-2" />

      <div class="d-flex justify-content-between">
        <p class="mb-2">Subtotal</p>
        <p class="mb-2"> &#8377; {{Products?.total}}</p>
      </div>

      <div class="d-flex justify-content-between">
        <p class="mb-2">Shipping</p>
        <p class="mb-2"> &#8377; {{Products?.deliveryFee}}</p>
      </div>

      <div class="d-flex justify-content-between mb-2">
        <p class="mb-2">Total(Incl. taxes)</p>
        <p class="mb-2"> &#8377;{{Products?.deliveryFee+Products?.total}} </p>
      </div>

      <button (click)="getCartData(getPaymentData)" type="button" class="btn btn-info btn-block">
        <div class="d-flex justify-content-between">
          <span> &#8377; {{Products?.deliveryFee+Products?.total}}</span>
          <span>&nbsp;Checkout <i class="fas fa-long-arrow-alt-right ms-2"></i></span>
        </div>
      </button>
    </div>
  </div>
</div>




