img
{
  height: 150px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transition: transform .5s ease;
}
img:hover{
  transform: scale(1.1);
}
#imgparent{
  height: 180px;
  overflow: hidden;
}
.card{
  width: 13rem;
  height: 25rem;
}
.description{
  display: inline-block;
    width: 180px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
h5{
  display: inline-block;
    width: 180px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}








